@charset "UFT-8";
@font-face{
font-family:'FonteLogo';
src: url("../_fonts/bubblegum-sans-regular.otf");
}
/*cabeçalho*/
 fieldset#corpo{
width: 1338px;
height: 90px;
position: relative;
top: -10px;
left: -10px;
background: #dddddd;
}  

header#login h1{
font-size: 36pt;
margin-top: 10px;
margin-left: 145px;
color: #111160;
}

header#login h2{
font-size: 18pt;
margin-top: -40px;
margin-left: 145px;
color: #111160;
}

header#login h3{
font-size: 14pt;
margin-top: -90px;
margin-left: 930px;
}

header#login h4{
font-size: 14pt;
margin-top: -40px;
margin-left: 1110px;
}

header#login p {
font-size: 14pt;
color: #black;
margin-top: -20px;
margin-left: 930px;
}

header#login img#icone{
position: absolute;
width: 16%;
height: 125%;
margin-top: -20px;
margin-left: -40px;
}

/*corpo*/
fieldset#cadastro{
width: 300px;
margin: 50px;
font-size: 13pt;
font-weight: bold;
position:  relative;
left: 800px;
background: #dddddd;
}


fieldset#cadastro-usuario{
width: 400px;
margin: -60px;
font-size: 13pt;
font-weight: bold;
position:  relative;
top: 50px;
left: 800px;
background: #dddddd;
}

fieldset#cadastro-adm{
width: 400px;
margin: -120px;
font-size: 13pt;
font-weight: bold;
position:  relative;
top: -135px;
left: 300px;
background: #dddddd;
}

div#legenda{
font-size: 14pt;
color: #black;
margin-top: -80px;
}

div#legenda{
font-size: 14pt;
color: #black;
margin-top: -80px;
}
	

fieldset#pesq{
width: 1300px;
margin: 50px;
font-size: 13pt;
font-weight: bold;
position:  relative;
margin-top: 10px;
left: -40px;
background: #dddddd;
}


header#imagem1 img#imagem1{
position: absolute;
width: 35%;
height: 50%;
margin-top: 90px;
margin-left: 150px;
}

header#imagem1 p {
font-size: 17pt;
color: #black;
position: absolute;
top: 145px;
left: 85px;
}

header#imagem2 img#imagem2{
position: relative;
width: 35%;
margin: 30pt;
height: 50%;
margin-top: 40px;
margin-left: 450px;
}

header#imagem2 p {
font-size: 17pt;
color: #black;
position: absolute;
top: 185px;
left: 380px;
}

 fieldset#upar{
width: 660px;
margin: 100px;
font-size: 13pt;
font-weight: bold;
position:  relative;
top: -50px;
left: 285px;
background: #dddddd;
}

fieldset#mensagem {
font-weight: bold;
width: 350px;
position:  relative;
top: -20px;
left: 510px;
font-size: 14pt;
background: #dddddd;
}

/*rodape*/
footer#rodape {
border-top: 1px solid #000000;
}

footer#rodape p{
text-align: center;
background-color:white;
}

  /*Formatação do Menu*/
  
 .menu{
display:block 
} 

.menu ul{
list-style: none;
text-transform: uppercase;
position: relative;
top: -100px;
left: 930px;
}

.menu li{
display: inline-block;
background-color: #dddddd;
padding: 10px;
margin: 2px;
box-shadow: 0px 0px 10px rgba(0,0,0,1);
}

.menu li:hover {
background-color: #98A2AB;
}

.menu a{
color: #000000; 
text-decoration: none;	
}

.menu a:hover{
	color: #ffffff;
}


 .menu1{
display:block 
} 

.menu1 ul{
list-style: none;
text-transform: uppercase;
position: relative;
top: -100px;
left: 1200px;
}

.menu1 li{
display: inline-block;
background-color: #dddddd;
padding: 10px;
margin: 2px;
box-shadow: 0px 0px 10px rgba(0,0,0,1);
}

.menu1 li:hover {
background-color: #98A2AB;
}

.menu1 a{
color: #000000; 
text-decoration: none;	
}

.menu1 a:hover{
	color: #ffffff;
}


.menu2{
display:block 
} 

.menu2 ul{
list-style: none;
text-transform: uppercase;
position: relative;
top: -100px;
left: 820px;
}

.menu2 li{
display: inline-block;
background-color: #dddddd;
padding: 10px;
margin: 2px;
box-shadow: 0px 0px 10px rgba(0,0,0,1);
}

.menu2 li:hover {
background-color: #98A2AB;
}

.menu2 a{
color: #000000; 
text-decoration: none;	
}

.menu2 a:hover{
	color: #ffffff;
}